@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.line-1 {
    border-right: 4px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .line-1 {
        border-right: 1px solid rgba(0, 0, 0, 0.75);
    }
}

/* Animation */
.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 800ms steps(44) infinite normal,
        removeCursor 0s forwards 4s;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 9.2em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes removeCursor {
    to {
        border-right: none;
    }
}
